main {
  background-color: #f8f9fa ;
  height: '100vh'
}

.navbar {
  background-color: #20c997;
  color: #fff
}

div.card--header {
  background-color: #20c997;
}

.link {
  color: #fff;
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
  color: blue;
}

.main_next {
  height: 100%;
}

.wrapper {
  height: 100vh;
}

.form-wrapper {
  height: 100vh;
}